@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;600&family=Montserrat:wght@400;500&family=Palanquin:wght@400;500&family=Poppins:wght@200;400;500&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding-x {
    @apply px-8 sm:px-16;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc350;
  border-radius: 30px;
  outline: 1px solid black;
}

::-webkit-scrollbar-track {
  background-color: #75757520;
}


/* 
input::placeholder{
  font-size: 20px;
  font-weight: 300;
  color:#757575;

} */
